.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
.gdb
.gbdtable
.gpkg
.zip
posts/.data/
posts/data/
posts/data/houston/
.data
.data/
/.quarto/
.posts/data
.posts/data/
.posts/data/houston/
.posts/data/houston/ACS_2019_5YR_TRACT_48_TEXAS.gdb/
.posts/data/houston/gis_osm_roads_free_1.gpkg
.posts/data/houston/gis_osm_buildings_a_free_1.gpkg.zip
.posts/data/houston/ACS_2019_5YR_TRACT_48_TEXAS.gdb/a00000025.gdbtable
.posts/data/houston/ACS_2019_5YR_TRACT_48_TEXAS.gdb/a0000001c.gdbtable
.posts/data/houston/gis_osm_roads_free_1.gpkg.zip
.posts/data/houston/ACS_2019_5YR_TRACT_48_TEXAS.gdb/a00000021.gdbtable
.posts/data/houston/ACS_2019_5YR_TRACT_48_TEXAS.gdb/a0000000d.gdbtable
.posts/data/houston/ACS_2019_5YR_TRACT_48_TEXAS.gdb/a0000001f.gdbtable
.posts/data/houston/ACS_2019_5YR_TRACT_48_TEXAS.gdb/a00000010.gdbtable
.posts/data/houston/ACS_2019_5YR_TRACT_48_TEXAS.gdb.zip
.posts/data/houston/ACS_2019_5YR_TRACT_48_TEXAS.gdb/a00000020.gdbtable
.posts/data/houston/gis_osm_buildings_a_free_1.gpkg
.posts/data/redlining/EJSCREEN_2023_BG_StatePct_with_AS_CNMI_GU_VI.gdb/a00000039.gdbtable
.posts/data/houston/ACS_2019_5YR_TRACT_48_TEXAS.gdb/a0000001b.gdbtable
.posts/data/houston/ACS_2019_5YR_TRACT_48_TEXAS.gdb/a00000019.gdbtable
.posts/data/redlining/
.posts/data/wind_data_usa.csv
