/*-- scss:defaults --*/

// Import fonts (define mainfont in _quarto.yml)
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display#=swap');

// fonts
$nunito: 'Nunito', sans-serif; 
$josefin: 'Josefin Sans', sans-serif; 
$roboto: 'Roboto', sans-serif;
// Import fonts
//@import url("https://fonts.gstatic.com");



// Color-scheme: 
$heavy-metal: #333D29; // heavy-metal (dark background color)
$fruit-salad: #A4AC86; // fruit-salad (light green for accents)
$cream: #FDFBF7; // cream (light text and highlights)
$sandal: #936639; // sandal (warm brown for hover and accents)
$arizona: #A68A64; // arizona (soft tan for highlights)



// Base document colors for a dark theme
$navbar-bg: $heavy-metal; // heavy-metal (dark navbar background)
$navbar-fg: $cream; // cream (light navbar foreground elements)
$navbar-hl: $arizona; // arizona (softer highlight for navbar links on hover)
$body-bg: $heavy-metal; // heavy-metal (dark page background)
$body-color: $cream; // cream (light page text)
$footer-bg: #333D29; // heavy-metal (dark footer background)
$link-color: $sandal; // fruit-salad (subtle light green for hyperlinks)

// Inline code
$code-bg: $fruit-salad; // inline code background color
$code-color: $cream;

// Code blocks
$code-block-bg: $cream;

/*-- scss:rules --*/
//h1, h2 {
  //letter-spacing: 5px;
  //color: $heavy-metal;
//}

.title {
  color: $heavy-metal;
}

.center-text {
  text-align: center;
  color: $heavy-metal;
}

// button-styling
.button-styling {
  background: $fruit-salad;
  color: $arizona;
  border-color: $heavy-metal;
}
// button text size (landing page)
.about-link-text { 
  font-size: 18px;
}
// button icon size (landing page)
.bi { 
  font-size: 18px;
}
// listing description text styling
.description {
  font-size: 25px;
}
// larger text
.large-text {
  font-size: 25px;
  color: $heavy-metal;
}
// slightly smaller than default text
.small-text {
  font-size: 17px;
  color: $heavy-metal;
}
// smallest text
.extra-small-text{
  font-size: 14px;  
}



// extra space above line of text (but not as much as <br>)
//.topbr {
  //display: block;
   // margin-top: 1em;
//}

// center align text
.center-text {
  text-align: center;
  left: 50%;
  color: $heavy-metal;
}

// right-align text
.right-align-text{
  text-align: right;
  color: $heavy-metal;
}

// allow images inline with text
//#fixed {
//  line-height: 0.5em;
// vertical-align: -0.15em;
  
 // display: inline-flex;
//}

/* CLASS SELECTORS (copied from inspecting site -- Quarto defined?) */

// resize logo (top left corner) see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
.navbar-brand img { 
  max-height: 50px;
  width: auto;
}

// subtitle 
.custom-subtitle {
  font-size: 22px;
  font-style: italic;
  color: $heavy-metal;
}

