/*-- scss:defaults --*/

// Import fonts
@import url("https://fonts.gstatic.com");

// color-scheme: 
$heavy-metal: #293F2C;
$sandal: #B18873;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$rockblue: #A2B7CC;
$fruit-salad: #569A50;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;

// base document colors
$navbar-bg: $heavy-metal; // navbar 
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $sandal; // highlight color when hovering over navbar links 
$body-bg: $cream; // pg background
$body-color: $heavy-metal; // page text
$footer-bg: $heavy-metal; // $footer
$link-color: $sandal; // hyperlinks


// Inline code
$code-bg: $cream; // inline code background color
$code-color: $fruit-salad;

// Code blocks
$code-block-bg: $cream;

/*-- scss:rules --*/
//h1, h2 {
  //letter-spacing: 5px;
  //color: $heavy-metal;
//}

.title {
  color: $heavy-metal;
}

.center-text {
  text-align: center;
}

.button-styling {
  background: $fruit-salad;
  color: $sandal;
  border-color: $heavy-metal;
}

// button text size (landing page)
.about-link-text { 
  font-size: 18px;
}

// button icon size (landing page)
.bi { 
  font-size: 18px;
}

// listing description text styling
.description {
  font-size: 25px;
}

// larger text
.large-text {
  font-size: 25px;
}

// slightly smaller than default text
.small-text {
  font-size: 17px;
}

// smallest text
.extra-small-text{
  font-size: 14px;  
}

// extra space above line of text (but not as much as <br>)
.topbr {
    display: block;
    margin-top: 1em;
}

// center align text
.center-text {
  text-align: center;
  left: 50%;
}

// right-align text
.right-align-text{
  text-align: right;
}

// allow images inline with text
//#fixed {
//  line-height: 0.5em;
// vertical-align: -0.15em;
  
 // display: inline-flex;
//}

/* CLASS SELECTORS (copied from inspecting site -- Quarto defined?) */

// resize logo (top left corner) see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
.navbar-brand img { 
  max-height: 50px;
  width: auto;
}



